@using RARIndia.ViewModel
@model AdminRoleMasterListViewModel
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="row">
    <div class="col-sm-12 col-md-6">
        @Html.Partial("~/Views/Shared/Datatable/_DatatableShowResult.cshtml", Model.PageListViewModel.RecordPerPage)
    </div>
    <div class="col-sm-12 col-md-6">
        @Html.Partial("~/Views/Shared/Datatable/_DatatableSearchData.cshtml", Model.PageListViewModel.SearchBy)
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-bordered column-rendering dataTable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info" style="width: 1223px;">
            <thead>
                <tr role="row">
                    <th class="sorting" data-columnname="NomenAdminRoleCode">Role Code</th>
                    <th class="sorting" data-columnname="SactionedPostDescription">Description</th>
                    <th class="sorting" data-columnname="MonitoringLevel">Monitoring Level</th>
                    <th class="sorting" data-columnname="IsActive">@GeneralResources.LabelIsActive</th>
                    <th style="width:10%;">@GeneralResources.LabelAction</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model?.AdminRoleMasterList)
                {
                    <tr>
                        <td>@item.AdminRoleCode</td>
                        <td>@item.SanctPostName</td>
                        <td>@item.MonitoringLevel</td>
                        <td style="text-align:center;">
                            @if (item.IsActive)
                            {<i class="ft-check-circle grid-checked-icon"></i>}
                            else
                            { <i class="ft-x-circle grid-unchecked-icon"></i>}
                        </td>
                        <td style="text-align:center">
                            <a href="../@controllerName/Edit?adminRoleMasterId=@item.AdminRoleMasterId&selectedCentreCode=@Model.SelectedCentreCode&selectedDepartmentID=@Model.SelectedDepartmentID" title="Update"><i class="ft-edit-1"></i></a>
                            @*<a href="../GeneralCountryMaster/Delete?countryIds=@item.AdminSnPostsId" title="Delete"><i class="ft-delete"></i></a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("~/Views/Shared/Datatable/_DatatablePagination.cshtml", Model.PageListViewModel)
