@using RARIndia.Model;
@using RARIndia.DropdownHelper;
@using RARIndia.Resources;
@model string
@{
    Layout = null;
    List<UserAccessibleCentreModel> accessibleCentreList = RARIndiaDropdownHelper.AccessibleCentreList();
    string[] data = Model.Split('~');
}
@if (data.Length > 1 && data[1] == "department")
{
    <select class="form-control" id="SelectedCentreCode" name="SelectedCentreCode" onchange="RARIndiaCommanFunction.GetDepartmentByCentreCode()">
        @if (accessibleCentreList?.Count == 1)
        {
            <option value="@accessibleCentreList[0].CentreCode" selected>@accessibleCentreList[0].CentreName</option>
        }
        else
        {
            <option value="">@GeneralResources.SelectCentre</option>
            foreach (UserAccessibleCentreModel item in accessibleCentreList)
            {
                if (data[0] == item.CentreCode)
                {
                    <option value="@item.CentreCode" selected>@item.CentreName</option>
                }
                else
                {
                    <option value="@item.CentreCode">@item.CentreName</option>
                }
            }
        }
    </select>
}
else
{
    <select class="form-control" id="SelectedCentreCode" name="SelectedCentreCode">
        @if (accessibleCentreList?.Count == 1)
        {
            <option value="@accessibleCentreList[0].CentreCode" selected>@accessibleCentreList[0].CentreName</option>
        }
        else
        {
            <option value="">@GeneralResources.SelectCentre</option>
            foreach (UserAccessibleCentreModel item in accessibleCentreList)
            {
                if (data[0] == item.CentreCode)
                {
                    <option value="@item.CentreCode" selected>@item.CentreName</option>
                }
                else
                {
                    <option value="@item.CentreCode">@item.CentreName</option>
                }
            }
        }
    </select>
}