@using RARIndia.Utilities.Helper;
@using RARIndia.Utilities.Constant;
@using RARIndia.Model;
@{
    string title = System.Convert.ToString(RARIndiaSetting.ProjectTitle);
    string messageData = Convert.ToString(TempData["Notifications"]);
    UserModel userData = RARIndiaSessionHelper.GetDataFromSession<UserModel>(RARIndiaConstant.UserDataSession);
    TempData.Remove("Notifications");
}
<!DOCTYPE html>
<html class="loaded" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="PIXINVENT">
    <title>@ViewBag.Title | @title </title>

    @*<link rel="apple-touch-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/apple-icon-120.png">*@
    @*<link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">*@
    @*<link href="../AdminTheme/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../Content/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/datatables.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/colors.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/components.min.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../Content/horizontal-menu.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/palette-gradient.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/form-validation.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../Content/style.css">
    <link href="~/Content/style/bootstrap-multiselect.css" rel="stylesheet" />
    <!-- END: Custom CSS-->
    @*<style type="text/css">
            .jqstooltip {
                position: absolute;
                left: 0px;
                top: 0px;
                visibility: hidden;
                background: rgb(0, 0, 0) transparent;
                background-color: rgba(0,0,0,0.6);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
                color: white;
                font: 10px arial, san serif;
                text-align: left;
                white-space: nowrap;
                padding: 5px;
                border: 1px solid white;
                z-index: 10000;
            }

            .jqsfield {
                color: white;
                font: 10px arial, san serif;
                text-align: left;
            }
        </style>*@
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
<body class="horizontal-layout horizontal-menu 2-columns  menu-expanded pace-done" data-open="hover" data-menu="horizontal-menu" data-col="2-columns" data-new-gr-c-s-check-loaded="14.1088.0" data-gr-ext-installed="">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center" style="background-color:#2c343b" data-nav="brand-center">
        <div class="navbar-wrapper">
            <!--<div class="navbar-header">
                <ul class="nav navbar-nav flex-row">-->
            @*<li class="nav-item mobile-menu d-md-none mr-auto">
                <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                    <i class="ft-menu font-large-1"></i>
                    </a>
                </li>*@
            <!--<li class="nav-item">
                <a class="navbar-brand" href="~/GymUserRegistration/List">-->
            @*<img class="brand-logo" alt="modern admin logo" src="../Images/logo.png">*@
            <!--<h3 class="brand-text" style="color:#fff !important">@title</h3>
                        </a>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
                </ul>
            </div>-->
            <div class="navbar-container content">
                <div class="navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        @* <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>*@
                        <li class="nav-item d-none d-lg-block"><a class="nav-link" style="color: #fff !important; font-size: 1.55rem !important;" href="~/GymUserRegistration/List">@title</a></li>
                        @*@Html.Partial("~/Views/Shared/_ModuleList.cshtml", userData)*@
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        @*@if (userData?.BalanceSheetList?.Count > 0)
                            {
                                @Html.Partial("~/Views/Shared/_BalanceSheetList.cshtml", userData)
                            }
                            @Html.Partial("~/Views/Shared/_RoleTypeList.cshtml", userData)

                            @{Html.RenderAction("GetNotificationCount", "User", new { userId = userData.UserMasterId });}*@

                        @Html.Partial("~/Views/Shared/_UserProfileList.cshtml", userData)
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    @*@Html.Partial("~/Views/Shared/_MenuList.cshtml", userData)*@
    <!-- END: Main Menu-->
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        @Html.Partial("~/Views/Shared/_NotificationMessage.cshtml", @messageData)
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
    <!-- END: Content-->
    <div class="sidenav-overlay" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
    <div class="drag-target" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                Copyright © @System.DateTime.Now.Year <a class="text-bold-800 grey darken-2" href="#" target="_blank">@title</a>
            </span>
            <span class="float-md-right d-none d-lg-block">
                <a href="http://coditechsoftware.com" target="_blank">Developed By Coditech Software Pvt. Ltd</a>
                <span id="scroll-top" style="display: none;"></span>
            </span>
        </p>
    </footer>
    <!-- END: Footer-->
    <!-- BEGIN: Vendor JS-->
    <script src="../Scripts/Theme/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="../Scripts/Theme/jquery.sticky.js"></script>
    <script src="../Scripts/Theme/jquery.sparkline.min.js"></script>
    @*<script src="../Scripts/Theme/datatables.min.js"></script>*@
    @*<script src="../Scripts/Theme/dataTables.buttons.min.js"></script>*@
    @*<script src="../Scripts/Theme/buttons.flash.min.js"></script>*@
    <script src="../Scripts/Theme/jszip.min.js"></script>
    <script src="../Scripts/Theme/pdfmake.min.js"></script>
    <script src="../Scripts/Theme/vfs_fonts.js"></script>
    @*<script src="../Scripts/Theme/buttons.html5.min.js"></script>*@
    @*<script src="../Scripts/Theme/buttons.print.min.js"></script>*@
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="../Scripts/Theme/app-menu.min.js"></script>
    <script src="../Scripts/Theme/app.min.js"></script>
    <script src="../Scripts/Theme/customizer.min.js"></script>
    <script src="../Scripts/Theme/footer.min.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    @*<script src="../Scripts/Theme/breadcrumbs-with-stats.min.js"></script>*@
    @*<script src="../Scripts/Theme/datatable-advanced.min.js"></script>*@
    <script src="../Scripts/Theme/form-validation.js"></script>
    <!-- END: Page JS-->
    <script src="~/Scripts/GeneralScript/RARIndiaDataTable.js"></script>
    <script src="~/Scripts/GeneralScript/RARIndiaNotification.js"></script>
    <script src="~/Scripts/GeneralScript/RARIndiaCommanFunction.js"></script>
    <script src="~/Scripts/RARIndia/GymUserRegistration.js"></script>
    <script src="~/Scripts/Theme/bootstrap-multiselect.js"></script>
</body><!-- END: Body-->
</html>