@using RARIndia.ViewModel
@model GeneralCountryListViewModel
@{
    ViewBag.Title = "Country List";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Country List</h3>
    </div>
</div>
<div class="content-body">
    <!-- Column rendering table -->
    <section id="column">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        @*<h4 class="card-title">Column rendering</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>*@
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a href="../GeneralCountryMaster/Create" class="btn btn-primary btn-sm"><i class="ft-plus white"></i>Add Country</a></li>
                                <li><a href="../GeneralCountryMaster/List"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard dataTables_wrapper dt-bootstrap">
                            <div class="table-responsive">
                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            @Html.Partial("~/Views/Shared/Datatable/_DatatableShowResult.cshtml", Model.RecordPerPage)
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            @Html.Partial("~/Views/Shared/Datatable/_DatatableSearchData.cshtml", Model.SearchBy)
                                        </div>
                                    </div><div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-bordered column-rendering dataTable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info" style="width: 1223px;">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="CountryName: activate to sort column descending" style="width: 45%;">Country Name</th>
                                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="CountryCode: activate to sort column ascending" style="width: 45%;">Country Code</th>
                                                        <th tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width:10%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model?.GeneralCountryList)
                                                    {
                                                        <tr>
                                                            <td>@item.CountryName</td>
                                                            <td>@item.CountryCode</td>
                                                            <td style="text-align:center">
                                                                <a href="../GeneralCountryMaster/Edit?countryId=@item.CountryId" title="Update"><i class="ft-edit-1"></i></a>  |
                                                                <a href="../GeneralCountryMaster/Delete?countryIds=@item.CountryId" title="Delete"><i class="ft-delete"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    @Html.Partial("~/Views/Shared/Datatable/_DatatablePagination.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Column rendering table -->
</div>
