@using RARIndia.ViewModel
@model GeneralCountryListViewModel
@{
    ViewBag.Title = "";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Country List</h3>
    </div>
    <div class="content-header-right col-md-6 col-12">
        @*<div class="media width-250 float-right">
                <media-left class="media-middle">
                    <div id="sp-bar-total-sales"><canvas width="152" height="30" style="display: inline-block; width: 152px; height: 30px; vertical-align: top;"></canvas></div>
                </media-left>
                <div class="media-body media-right text-right">
                    <h3 class="m-0">$5,668</h3><span class="text-muted">Sales</span>
                </div>
            </div>*@
    </div>
</div>
<div class="content-body">
    <!-- Column rendering table -->
    <section id="column">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        @*<h4 class="card-title">Column rendering</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>*@
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard dataTables_wrapper dt-bootstrap">
                            <div class="table-responsive">
                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            @Html.Partial("~/Views/Shared/Datatable/_DatatableShowResult.cshtml")
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            @Html.Partial("~/Views/Shared/Datatable/_DatatableSearchData.cshtml")
                                        </div>
                                    </div><div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-bordered column-rendering dataTable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info" style="width: 1223px;">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="CountryName: activate to sort column descending" style="width: 40%;">Country Name</th>
                                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="CountryCode: activate to sort column ascending" style="width: 40%;">Country Code</th>
                                                        <th tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width:20%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model?.GeneralCountryList)
                                                    {
                                                        <tr>
                                                            <td>@item.CountryName</td>
                                                            <td>@item.CountryCode</td>
                                                            <td></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    @Html.Partial("~/Views/Shared/Datatable/_DatatablePagination.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Column rendering table -->
</div>
