@using RARIndia.Model
@model GeneralCountryMasterListModel
@{
    ViewBag.Title = "";
}
<!-- DataTables -->
<link href="./AdminTheme/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css">
<link href="./AdminTheme/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css">
<!-- Responsive datatable examples -->
<link href="./AdminTheme/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="row">
                <div class="col">
                    <h4 class="page-title">Country List</h4>
                </div><!--end col-->
                <div class="col-auto align-self-center">
                    <a href="#" class="btn btn-sm btn-outline-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download align-self-center icon-xs">
                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                            <polyline points="7 10 12 15 17 10"></polyline>
                            <line x1="12" y1="15" x2="12" y2="3"></line>
                        </svg>
                    </a>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end page-title-box-->
    </div><!--end col-->
</div><!--end row-->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                    <h4 class="card-title">Row created callback example</h4>
                    <p class="text-muted mb-0">
                        The Buttons extension for DataTables
                        provides a common set of options, API methods and styling to display
                        buttons on a page that will interact with a DataTable. The core library
                        provides the based framework upon which plug-ins can built.
                    </p>
                </div><!--end card-header-->
            <div class="card-body">
                <div id="row_callback_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            @Html.Partial("~/Views/Shared/Datatable/_DatatableShowResult.cshtml")
                        </div>
                        <div class="col-sm-12 col-md-6">
                            @Html.Partial("~/Views/Shared/Datatable/_DatatableSearchData.cshtml")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="row_callback" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="row_callback_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting sorting_desc" tabindex="0" aria-controls="row_callback" rowspan="1" colspan="1" style="width:40%;" aria-label="CountryName: activate to sort column ascending" aria-sort="descending">Country Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="row_callback" rowspan="1" colspan="1" style="width: 40%;" aria-label="CountryCode: activate to sort column ascending">Country Code</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 20%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 1;}
                                    @foreach (var item in Model.GeneralCountryMasterList)
                                    {
                                        string className = i % 2 == 0 ? "even" : "odd";
                                        <tr class="@className">
                                            <td class="sorting_1" tabindex="0">@item.CountryName</td>
                                            <td>@item.CountryCode</td>
                                            <td class=""></td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @Html.Partial("~/Views/Shared/Datatable/_DatatablePagination.cshtml")
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
