@using RARIndia.ViewModel
@model AdminSnPostsListViewModel
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="row">
    <div class="col-sm-12 col-md-6">
        @Html.Partial("~/Views/Shared/Datatable/_DatatableShowResult.cshtml", Model.PageListViewModel.RecordPerPage)
    </div>
    <div class="col-sm-12 col-md-6">
        @Html.Partial("~/Views/Shared/Datatable/_DatatableSearchData.cshtml", Model.PageListViewModel.SearchBy)
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-bordered column-rendering dataTable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info" style="width: 1223px;">
            <thead>
                <tr role="row">
                    <th class="sorting" data-columnname="NomenAdminRoleCode">Role Code</th>
                    <th class="sorting" data-columnname="SactionedPostDescription">Sactioned Post Description</th>
                    <th class="sorting" data-columnname="NoOfPosts">No Of Posts</th>
                    <th class="sorting" data-columnname="IsActive">Is Active</th>
                    <th style="width:10%;">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model?.AdminSnPostsList)
                {
                    <tr>
                        <td>@item.NomenAdminRoleCode</td>
                        <td>@item.SactionedPostDescription</td>
                        <td>@item.NoOfPosts</td>
                        <td style="text-align:center;">
                            @if (item.IsActive)
                            {<i class="ft-check-circle grid-checked-icon"></i>}
                            else
                            { <i class="ft-x-circle grid-unchecked-icon"></i>}
                        </td>
                        <td style="text-align:center">
                            <a href="../@controllerName/Edit?adminSnPostsId=@item.AdminSnPostsId" title="Update"><i class="ft-edit-1"></i></a>
                            @*<a href="../GeneralCountryMaster/Delete?countryIds=@item.AdminSnPostsId" title="Delete"><i class="ft-delete"></i></a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("~/Views/Shared/Datatable/_DatatablePagination.cshtml", Model.PageListViewModel)
