@using RARIndia.ViewModel;
@using RARIndia.Resources;
@using RARIndia.Utilities.Helper;
@model AdminSnPostsViewModel
@{
    ViewBag.Title = "Add Admin Sn Post";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    DropdownViewModel centreDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.AccessibleCentre.ToString(), DropdownName = "SelectedCentreCode", DropdownSelectedValue = Model.SelectedCentreCode, ChangeEvent = "RARIndiaCommanFunction.GetDepartmentByCentreCode()" };
    DropdownViewModel departmentDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.CentrewiseDepartment.ToString(), DropdownName = "SelectedDepartmentID", DropdownSelectedValue = Convert.ToString(Model.SelectedDepartmentID), Parameter = Model.SelectedCentreCode };
    DropdownViewModel designationDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.Designation.ToString(), DropdownName = "DesignationID", DropdownSelectedValue = Convert.ToString(Model.DesignationID) };
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Add Admin Sn Post</h3>
    </div>
</div>
<div class="content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    @*<h4 class="card-title" id="horz-layout-colored-controls">Add Country</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>*@
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a href="../@controllerName/Create" title="Reset"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand" title="Maximize"><i class="ft-maximize"></i></a></li>
                            <li><a href="../@controllerName/List" title="Cancle"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        @*<div class="card-text">
                                <p>This is 2-columns horizontal form with labels on left and form controls on right in one line. Add <code>.form-horizontal</code> class to the form tag to have horizontal form styling. User can also change the border color and background color of the form control. Add <code>border-*</code> class to change border color and <code>bg-*</code> class to change background color of the form control.</p>
                            </div>*@
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @class = "form form-horizontal" }))
                        {
                            <div class="form-body">
                                @*<h4 class="form-section"><i class="la la-eye"></i> About User</h4>*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            @Html.LabelFor(x => x.SelectedCentreCode, new { @class = "col-md-3 label-control" })
                                            <div class="col-md-9 mx-auto">
                                                @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", centreDropdown)  @Html.ValidationMessageFor(x => x.SelectedCentreCode, null, new { @class = "red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            @Html.LabelFor(x => x.SelectedDepartmentID, new { @class = "col-md-3 label-control required" })
                                            <div class="col-md-9 mx-auto">
                                                @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", departmentDropdown)
                                                @Html.ValidationMessageFor(x => x.SelectedDepartmentID, null, new { @class = "red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            @Html.LabelFor(x => x.DesignationID, new { @class = "col-md-3 label-control" })
                                            <div class="col-md-9 mx-auto">
                                                @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", designationDropdown)
                                                @Html.ValidationMessageFor(x => x.DesignationID, null, new { @class = "red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            @Html.LabelFor(x => x.NoOfPost, new { @class = "col-md-3 label-control required" })
                                            <div class="col-md-9 mx-auto">
                                                @Html.TextBoxFor(x => x.NoOfPost, new { @class = "form-control border-primary", @placeholder = "Number Of Post", @maxLength = "5", @type = "number" })
                                                @Html.ValidationMessageFor(x => x.NoOfPost, null, new { @class = "red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            @Html.LabelFor(x => x.PostType, new { @class = "col-md-3 label-control required" })
                                            <div class="col-md-9 mx-auto">
                                                @Html.DropDownList("PostType", ViewData["PostType"] as List<SelectListItem>, new { style = "", @class = "form-control" })
                                                @Html.ValidationMessageFor(x => x.PostType, null, new { @class = "red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            @Html.LabelFor(x => x.DesignationType, new { @class = "col-md-3 label-control required" })
                                            <div class="col-md-9 mx-auto">
                                                @Html.DropDownList("DesignationType", ViewData["DesignationType"] as List<SelectListItem>, new { style = "", @class = "form-control" })
                                                @Html.ValidationMessageFor(x => x.DesignationType, null, new { @class = "red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions text-right">
                                <button type="submit" class="btn btn-success"><i class="la la-check-square-o"></i>@GeneralResources.SaveButton</button>
                                <a href="../@controllerName/List" class="btn btn-secondary mr-1"><i class="ft-x"></i>@GeneralResources.CancelButton</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>