@using RARIndia.ViewModel
@model GeneralNationalityListViewModel
@{
    Layout = null;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="row">
    <div class="col-sm-12 col-md-6">
        @Html.Partial("~/Views/Shared/Datatable/_DatatableShowResult.cshtml", Model.PageListViewModel.RecordPerPage)
    </div>
    <div class="col-sm-12 col-md-6">
        @Html.Partial("~/Views/Shared/Datatable/_DatatableSearchData.cshtml", Model.PageListViewModel.SearchBy)
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-bordered column-rendering dataTable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info" style="width: 1223px;">
            <thead>
                <tr role="row">
                    <th class="sorting" data-columnname="Description">Nationality</th>
                    <th class="sorting" data-columnname="DefaultFlag">Default Nationality</th>
                    <th style="width:10%;">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model?.GeneralNationalityList)
                {
                    <tr>
                        <td>@item.Description</td>
                        <td>@item.DefaultFlag</td>
                        <td style="text-align:center">
                            <a href="../GeneralNationalitMaster/Edit?nationalityId=@item.NationalityId" title="Update"><i class="ft-edit-1"></i></a>  |
                            <a href="../GeneralNationalitMaster/Delete?nationalityIds=@item.NationalityId" title="Delete"><i class="ft-delete"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("~/Views/Shared/Datatable/_DatatablePagination.cshtml", Model.PageListViewModel)
