@using RARIndia.ViewModel
@using RARIndia.Resources;
@using RARIndia.Utilities.Helper;
@model GeneralTaxGroupMasterViewModel
@{
    ViewBag.Title = "Tax Group Master";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        @if (Model.GeneralTaxGroupMasterId > 0)
        {
            <h3 class="content-header-title"><b>Update Tax Group Master</b></h3>
        }
        else
        {
            <h3 class="content-header-title"><b>Add Tax Group Master</b> </h3>
        }
    </div>
</div>
<div class="content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    @*<h4 class="card-title" id="horz-layout-colored-controls">Add Country</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>*@
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                @if (Model.GeneralTaxGroupMasterId > 0)
                                {
                                    <a href="../@controllerName/Edit?TaxMasterId=@Model.GeneralTaxGroupMasterId"><i class="ft-rotate-cw"></i></a>
                                }
                                else
                                {
                                    <a href="../@controllerName/Create" title="Reset"><i class="ft-rotate-cw"></i></a>
                                }
                            </li>
                            <li><a data-action="expand" title="Maximize"><i class="ft-maximize"></i></a></li>
                            <li><a href="../@controllerName/List" title="Cancle"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        @*<div class="card-text">
                                <p>This is 2-columns horizontal form with labels on left and form controls on right in one line. Add <code>.form-horizontal</code> class to the form tag to have horizontal form styling. User can also change the border color and background color of the form control. Add <code>border-*</code> class to change border color and <code>bg-*</code> class to change background color of the form control.</p>
                            </div>*@
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @class = "form form-horizontal" }))
                        {
                            @Html.HiddenFor(m => m.GeneralTaxGroupMasterId);
                            <div class="form-body">
                                @*<h4 class="form-section"><i class="la la-eye"></i> About User</h4>*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            @Html.LabelFor(x => x.TaxGroupName, new { @class = "col-md-3 label-control" })
                                            <div class="col-md-9 mx-auto">
                                                @Html.TextBoxFor(x => x.TaxGroupName, new { @class = "form-control border-primary", @placeholder = "Tax Group Name" })
                                                @Html.ValidationMessageFor(x => x.TaxGroupName, null, new { @class = "red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            @Html.LabelFor(x => x.GeneralTaxMasterIds, new { @class = "col-md-3 label-control required" })
                                            <div class="col-md-9 mx-auto">
                                                @Html.ListBoxFor(m => m.GeneralTaxMasterIds, new SelectList(Model.AllTaxList, "GeneralTaxMasterId", "TaxName"))
                                                @Html.ValidationMessageFor(x => x.GeneralTaxMasterIds, null, new { @class = "red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            @Html.LabelFor(x => x.IsOtherState, new { @class = "col-md-3 label-control" })
                                            <div class="col-md-9 mx-auto">
                                                @Html.CheckBoxFor(x => x.IsOtherState, new { @class = "border-primary", @placeholder = "Is Other State" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions text-right">
                                <button type="submit" class="btn btn-success"><i class="la la-check-square-o"></i>@GeneralResources.SaveButton</button>
                                <a href="../@controllerName/List" class="btn btn-secondary mr-1"><i class="ft-x"></i>@GeneralResources.CancelButton</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#GeneralTaxMasterIds').multiselect({
                includeSelectAllOption: true,
                //selectAllValue: 'multiselect-all',
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                buttonWidth: '100%',
            });
        });
    });
</script>